{% extends 'base.html' %}

{% block title %}关于{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h1 class="mb-4">关于我</h1>
        <p>这里是关于我的一些信息。</p>
        <div class="row mt-4">
            <div class="col-md-12">
                <h2>联系我</h2>
                <p>reincarnation2 你在github可以从这里找到我</p>
                <ul>
                    <li>邮箱: 1706638282@qq.com</li>
                    <li>电话: 暂无</li>
                    <li>社交账号: <a href="#">qq.1706638282</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
